.rbc-calendar {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9fafb;
  border-radius: 12px;
  padding: 1rem;
}

.rbc-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  background: #ffffff;
  padding: 12px 16px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.rbc-toolbar-label {
  font-size: 1.3rem;
  font-weight: 600;
  color: #1f2937;
}

.rbc-btn-group button {
  background-color: #e5e7eb;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  margin-right: 6px;
  font-weight: 500;
  color: #374151;
  transition: background-color 0.2s;
}

.rbc-btn-group button:hover {
  background-color: #d1d5db;
}

.rbc-btn-group .rbc-active {
  background-color: #3b82f6 !important;
  color: white !important;
}

/* View de días */
.rbc-time-view {
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

.rbc-time-header {
  margin: 0 !important;
}

.rbc-time-header,
.rbc-time-content {
  min-width: 700px;
  /* o el valor que necesites */
  scrollbar-width: none;
}

.rbc-time-view::-webkit-scrollbar {
  width: 2px !important;
  background-color: red !important;
}

.rbc-time-view::-webkit-scrollbar-thumb {
  background-color: #cbd5e1;
  border-radius: 10px;
}

.rbc-time-view::-webkit-scrollbar-track {
  background: transparent;
}

/* Cabecera (días) */
.rbc-header {

  background-color: #3b82f6;
  color: white;
  font-weight: 600;
  padding: 12px;
}

.rbc-allday-cell {
  display: none;
}

/* Celdas del calendario */
.rbc-time-slot .rbc-label {
  color: gray;
}

.rbc-time-slot,
.rbc-day-slot,
.rbc-row {
  background-color: #ffffff;
}

/* "Hoy" */
.rbc-today {
  background-color: #1f416d !important;
}

/* Eventos */
.rbc-event {
  all: unset;
  display: block;
  background-color: #2c3e508c;
}

.custom-event {
  background-color: #2c3e50;
  color: #fff;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 0.70rem;
  line-height: 1.2;
  overflow: hidden;
}

.custom-event-service {
  font-size: 0.65rem;
  color: #ecf0f1;
}

.rbc-events-container {
  margin: 0 !important;
}

/* Horarios */
.rbc-timeslot-group {
  min-height: 60px;
}

.rbc-time-content,
.rbc-time-header-content {
  border-top: none;
}

.calendar-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.calendar-modal {
  background: white;
  color: black;
  padding: 2rem;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}